<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CMPT 276 Assignment 2</title>

  <link rel="stylesheet" href="./stylesheets/a2styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

</head>
<body>
    <header>
            <div class="header-title ">
              CMPT 276 Assignment 2 
            </div>
    </header>
    <nav class="navbar sticky-top navbar-light nav-color">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="edit">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/editData" tabindex="-1" aria-disabled="true">Edit Database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewTeam" tabindex="-1" aria-disabled="true">View Our Team!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/database" tabindex="-1" aria-disabled="true">View Database</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        <h1> Your Changes to the Database failed </h1><br>
        <h1>If you are adding a user, please make sure that their ID is not taken by someone else</h1>
    </div>




  <script src="js/scripts.js"></script>
</body>
</html>